body {
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

fieldset{
  background-color: #4056b4;
  padding: 10px 0;
  border: none;
}

hr{
  margin:4px 0;
}

.search-form {
display: block;
position: relative;
width: 50%;
max-width: 200px;
margin-left: auto;
margin-right: auto;
}

input[type="text"]{
  padding: 2px 20px 2px 2px;
  width: 100%;
  border-style: none;
  border: 1px solid #aaa;
  border-radius: 2px;
  vertical-align: middle;
  height: 16px;
}

button[type="submit"]{
  position: absolute;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  top: 4px;
  left: calc(100% + 4px);
  text-indent: -999px;
  height: 20px;
  width:20px;
  background: url(./img/search.svg) no-repeat;
  background-position: 1px;
}